@font-face {
	font-family: "Montserrat";
	font-display: auto;
	font-weight: 400;
	src: url('../../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
	font-family: "Montserrat";
	font-display: auto;
	font-weight: 500;
	src: url('../../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
	font-family: "Montserrat";
	font-display: auto;
	font-weight: 600;
	src: url('../../fonts/Montserrat-Semibold.woff') format('woff');
}

@font-face {
	font-family: "Montserrat";
	font-display: auto;
	font-weight: 700;
	src: url('../../fonts/Montserrat-Bold.woff') format('woff');
}