$white: #ffffff;
$black: #000000;
$dark: #282828;
$grey: #7b7b7b;
$light: #a9a9a9;

$accent-green: #0e7077;
$accent-lime: #ccd32c;
$accent-orange: #f5a327;
$accent-red: #d80000;

$border: #f1f1f1;
$border-grey: #e6e6e6;

$font-base: "Montserrat", sans-serif;

$desktop-wide-width: 1530px;
$desktop-narrow-width: 1200px;
$tablet-width: 992px;
$phone-width: 767px;

$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;